services:
  mongodb:
    container_name: mongodb
    image: mongo:8.2
    restart: always
    environment:
      MONGO_INITDB_DATABASE: khdb
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - kh_network
  mongo-express:
    container_name: mongo-express
    image: mongo-express:1.0.2-18
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: rootpass
      ME_CONFIG_MONGODB_SERVER: mongodb
    networks:
      - kh_network
    depends_on:
      - mongodb

volumes:
  mongodb_data:

networks:
  kh_network:
    driver: bridge
